{% extends "base_generic.html" %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}

    <div class="form-group" style="margin-bottom: 20px;">
        <label for="email" style="font-weight: bold; font-size: 16px;">Email</label>
        <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email"
            style="width: 100%; height: 45px; font-size: 16px;"
            required>
    </div>

    <input class="boxed-btn3 w-100" type="submit" value="Reset password">
</form>
{% endblock %}
